---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Enhanced Availability",
    description:
      "AI clone chatbots are available 24/7/365, ensuring that customer inquiries are addressed promptly at any time of day or night, reducing wait times and increasing customer satisfaction",
      icon: "mdi:hours-24",
  },
  {
    title: "Consistent Customer Experience",
    description:
      "The chatbot provides consistent responses that align with your brand’s voice and policies, ensuring that every customer receives the same high-quality experience",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Scalability",
    description:
      "As your business grows, the AI clone can handle an increasing volume of interactions without the need for additional staff, allowing you to scale your customer service operations efficiently",
    icon: "bx:bxs-data",
  },
  {
    title: "Personalization",
    description:
      "The AI clone can personalize interactions by learning from past conversations, preferences, and customer data, providing a more tailored experience that can lead to higher engagement and conversion rates",
    icon: "bx:bxs-bot",
  },
  {
    title: "Cost Efficiency",
    description:
      "By automating routine inquiries and tasks, AI clones can reduce labor costs and free up your human staff to focus on more complex and high-value activities",
      icon: "ri:money-dollar-box-fill",
  },
  {
    title: "Data-Driven Insights",
    description:
      "AI chatbots can collect and analyze data from customer interactions, providing valuable insights into customer behavior, common issues, and potential areas for improvement in products or services",
    icon: "fad:adsr",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Boost Engagement with AI Cloning Tech
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Our AI Clone combines cutting-edge technology with personalized innovations for unmatched customer service
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
