---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Personalized Conversations",
    description:
      "Ability to engage in conversations tailored to each user's specific needs and personality. This includes adapting the chatbot's tone, language, and content to match the user's profile.",
      icon: "bx:bxs-window-alt",
  },
  {
    title: "Multi-Platform Compatible",
    description:
      "Could be integrated into various platforms, such as websites, mobile apps, social media, and messaging services, making it versatile and accessible to a wide range of users and businesses.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Human-like Interaction",
    description:
      "aim to replicate the warmth and friendliness of human interaction. They can adapt their tone, style, and content to match the unique personality of each user, creating a conversational experience that feels more personal and relatable.",
    icon: "bx:bxs-data",
  },
  {
    title: "User-Centered",
    description:
      "designed with the end-users in mind, offering them a chatbot that understands and responds according to their individual communication style and preferences.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Uniqueness",
    description:
      "our products are not generic; they are distinctive, capable of adapting to the nuances and idiosyncrasies of each user's personality, which sets them apart from other chatbot solutions.",
      icon: "bx:bxs-user",
  },
  {
    title: "Community",
    description:
      "Allow users to create and customize their own profiles, helping the chatbot better understand and serve their unique needs. Customizable profiles can include user preferences, language, and interaction history.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Everything you need to start a website
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Astro comes batteries included. It takes the best parts of state-of-the-art
    tools and adds its own innovations.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
